.Searchcomponent-Component{
display: flex;
height: 100vh;
color: var(--sec);
padding: 0rem 20rem;
}
/* //media queries */
@media (min-width: 1200px) and (max-width: 1400px) {
    .Searchcomponent-Component{
        padding: 0rem 16rem;
        }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .Searchcomponent-Component{
        padding: 0rem 9rem;
        }
}

@media (min-width: 768px) and (max-width: 992px) {
    .Searchcomponent-Component{
        padding: 0rem 4rem;
        }
}

@media (min-width: 576px) and (max-width: 768px) {
    .Searchcomponent-Component{
        padding: 0rem 0rem;
        }
}

@media (min-width: 420px) and (max-width: 576px) {
    .Searchcomponent-Component{
        padding: 0rem 0rem;
        }
}

@media (min-width: 310px) and (max-width: 420px) {
    .Searchcomponent-Component{
        padding: 0rem 0rem;
        }
}