.Header-Component{
    position:sticky;
    top: 0;
    z-index: 2;
}
.Header-Component-Container{
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border);
    background-color: var(--main);
}
.Header-Component-Container :nth-child(1){
    font-size: 1.5rem;
}
.Header-Component-Container> :nth-child(2){
    width: 70%;
}
.Header-Component-Container> :nth-child(2) input{
    border-radius: 20px;
    border: none;
    background-color: var(--border);
    color: var(--sec);
    padding: 0rem 1rem;
    height: 35px;
    font-size: 0.85rem;
    width: 100%;
}
.Header-Component-Container :nth-child(3){
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.Header-Component-Container :nth-child(3):hover{
cursor: pointer;
}
.Header-Component-Container :nth-child(3) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 1200px) and (max-width: 1400px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 576px) and (max-width: 768px) {
    .Header-Component-Container{
        padding: 1.5rem 1rem;
      position: relative;
    }
}

@media (min-width: 420px) and (max-width: 576px) {
    .Header-Component-Container :nth-child(2) input{
     width: 100%;
     max-height: 32px;
     font-size: 0.8rem;
    }
    .Header-Component-Container{
        padding: 1.5rem 1rem;
      position: relative;
      border-bottom: none;
    }
    .Header-Component-Container:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: var(--border);
      }
      .Header-Component :nth-child(3){
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 310px) and (max-width: 420px) {
    .Header-Component :nth-child(2) input{
        width: 100%;
        max-height: 30px;
        font-size: 0.75rem;
       }
       .Header-Component-Container{
        padding: 1.5rem 1rem;
      position: relative;
      border-bottom: none;
    }
    .Header-Component-Container:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: var(--border);
      }
      .Header-Component-Container :nth-child(3){
        width: 35px;
        height: 35px;
    }
}